


<h2>Something Else</h2>

  <div id="piechart"></div>

<script>
    google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Something', 'How much'],
          ['Blue',     11],
          ['Green',      2],
          ['Purple',  2],
          ['Black', 2],
          ['Grey',    7]
        ]);

        var options = {
          title: 'My Daily Activities'
        };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
</script>
