
<% #this is kludgy... %>
<% if session[:reset_user_id] and @current_user = User.find_by_id( session[:reset_user_id] )%>  
  <div id="authentication_dialogue_js" style="display:block" >
    <%= render "authenticate/ur_secrets" %>
  </div>
  
<% else %>  

  <div id="authentication_launchpad">
    <%= render "authenticate/launchpad" %>
  </div>
  <div id="authentication_dialogue_js"></div>

<% end %>

<div id="spinner_wrapper">
  <div id="spinner">
    <%= image_tag "spinner.gif" %>
  </div>         
</div>  