<% if @current_user && @current_user.errors.any? %>
  <div class="alert alert-danger" >
    <% @current_user.errors.full_messages.each do |msg| %>
      <span class="glyphicon glyphicon-exclamation-sign"></span>
      <%= msg %><br>
    <% end %>
  </div>
<% end %>