


  <div class="card">
    <div class="card-header" >
      <h4 class="card-title">
        <a data-toggle="collapse" href="#collapseVersions">
          Versions
        </a>
      </h4>
    </div>
    <div id="collapseVersions" class="collapse" >
      <div class="card-body">
         <%= render partial: "versions" %>
      </div>
    </div>
  </div>  
  
  <div class="card">
    <div class="card-header" >
      <h4 class="card-title">
        <a data-toggle="collapse" href="#collapseFiles" >
          File Uploads
        </a>
      </h4>
    </div>
    <div id="collapseFiles" class="collapse" r>
      <div class="card-body">
        <div id="files_partial">
          <%= render partial: "files", locals: { page: @page } %>  
        </div>
      </div>
    </div>   
  </div>
