

  <% if viewable( seite, @user ) == true %>
    
    <% @role = @user ? @user.role : nil %>
    <div> <%= seite.display(@role).html_safe %> </div>
    
    <%= render partial: "edit", locals: { seite: seite } %>
    
  <% elsif viewable( seite, @user ) == false %>
  
    <h1> protected content... </h1>
    
  <% end %>
  
 
  

  
