

  <% if viewable( seite, @current_user ) == true %>
    
    <% @role = @current_user ? @current_user.role : nil %>
    <%= seite.display(@role).html_safe %>
    
    <%= render partial: "edit", locals: { seite: seite } %>
    
  <% elsif viewable( seite, @current_user ) == false %>
  
    <h1> protected content... </h1>
    
  <% end %>
  
 
  

  
