@import "bootstrap-sprockets";
@import "bootstrap";

@import "seite";
 
#spinner { display: none }

a {
 color: #777777;
 &:visited {
  color: #777777;
  text-decoration: none;
  }  
 &:hover {
  color: blue;
  text-decoration: none;
  }    
 &:visited {
  color: #777777;
  text-decoration: none;
  }        
}

td { padding: 0px } 

.login_decor {
  background-color:white; 
  padding:10px;
  box-shadow: 0px 0px 20px 10px rgba(255,255,255,1.0);
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.fb_button:hover {
  cursor: pointer;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.admin-table {
  th { padding: 0px 10px 0px 0px;
  }
  td { padding: 0px 5px 0px 0px;
  }  
}  