// Place all the styles related to the seite controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


  
#pageupdate {
  a {
    font-size: smaller;
  }
  textarea {
    width: 100%; 
    overflow: hidden;
    box-sizing: border-box;
    border: none;
    background-color: #EEEEEE;
  }
  input[type=submit]:hover {
    color: red 
  }  
  #files {
    td { border: 2px solid white; padding: 10px; }   
    span:hover { color: red }  
    .grab_box { 
      padding: 0px 10px 0px 10px;
      color: blue; 
      &:hover {
       color: red;
      }
    }
  }  
}